-# = content_for :title, @entry.name

.w-full
  .flex.justify-between
    %h1.text-primary= t('.summary', count: @entry.transactions.map(&:quantity).sum, wine_name: @entry.wine.name)

    .daisy-stats.shadow
      .daisy-stat
        -# .daisy-stat-figure.text-primary
        -#   = image_tag 'icons/search_icon.svg'
        .daisy-stat-title= Entry.human_attribute_name(:purchase_date)
        .daisy-stat-value.text-primary= @entry.purchase_date

  .flex.gap-16.items-top
    %div
      %h2.mb-6.text-accent= Entry.human_attribute_name(:transactions)
      %table.daisy-table
        %thead
          %tr
            %td.pl-0= Transaction.human_attribute_name(:quantity)
            %td= Transaction.human_attribute_name(:location)
        %tbody
          - @entry.transactions.each do |transaction|
            %tr
              %td.pl-0.font-bold= transaction.quantity
              %td.font-bold= transaction.location.name

    .flex-grow-1
      %h2.mb-6.text-accent= t('.details')

      .w-full.flex.mb-8
        %div{ class: 'w-1/4' }
          .mb-1.text-md.font-light= Entry.human_attribute_name(:store)
          %span= @entry.store || '-'
        %div{ class: 'w-1/4' }
          .mb-1.text-md.font-light= Entry.human_attribute_name(:town)
          %span= @entry.town || '-'
        %div{ class: 'w-1/4' }
          .mb-1.text-md.font-light= Entry.human_attribute_name(:price_per_bottle_in_cents)
          %span= t(@entry.price_per_bottle_in_cents) || '-'

      .w-full.flex.mb-8
        %div{ class: 'w-1/4' }
          .mb-1.text-md.font-light= Entry.human_attribute_name(:comment)
          %span= @entry.comment || '-'

  %div.flex.gap-3.mt-12
    = link_to t('.edit'), edit_entry_path(@entry), class: "daisy-btn daisy-btn"
    = button_to t('.destroy'), @entry, method: :delete, class: "daisy-btn daisy-btn daisy-btn-warning ", data: { turbo_confirm: "Are you sure?" }
