.w-full
  .mb-8.flex.items-end.gap-3
    = image_tag 'icons/flaticon-wine-box.png', class: 'w-14 h-14'
    %h1.text-primary= title

  = simple_form_for purchase do |f|
    - if purchase.errors.any?
      #error_explanation.bg-red-50.text-red-500.px-3.py-2.font-medium.rounded-md.mt-3
        %h2= "#{pluralize(purchase.errors.count, "error")} prohibited this purchase from being saved:"
        %ul.list-disc.ml-6
          - purchase.errors.each do |error|
            = error.full_message

    .w-full.flex.gap-3.mb-6
      .mb-3
        %label.daisy-input.w-full
          %span.daisy-label= Purchase.human_attribute_name(:purchase_date)
          = f.date_field :purchase_date,
            start_year: Date.today.year - 50,
            end_year: Date.today.year + 1,
            order: [:day, :month, :year],
            value: purchase.purchase_date

    .w-full.flex.gap-3.mb-6
      = f.input :wine_id,
        collection: Wine.order(:name, :year).map{ |wine| [wine.name_and_year, wine.id] },
        wrapper_html: { class: 'w-1/2' }

    .w-full.flex.gap-3.mb-6
      = f.input :store, collection: Purchase.distinct(:store).order(:store).pluck(:store), wrapper_html: { class: 'w-1/4' }
      = f.input :store, label: t('.new_store'), input_html: { name: 'purchase[new_store]', value: nil }, wrapper_html: { class: 'w-1/4' }
      = f.input :town, wrapper_html: { class: 'w-1/4' }

    .w-full.mb-6
      = f.input :comment, as: :string

    %h2.text-accent.mb-6= Purchase.human_attribute_name(:purchase_items)
    - purchase_items = @purchase.purchase_items.to_a
    - purchase_items_index = purchase_items.length
    - purchase_items << PurchaseItem.new(source: purchase)
    #purchase_items{'data-controller': 'nested-form', 'data-nested-form-origin-index-value': purchase_items_index, 'data-nested-form-index-name-value': "INDEX_FOR_PURCHASE_ITEMS"}
      .flex.gap-9
        = button_tag t('.add_purchase_item'),
          type: :button,
          class: 'daisy-btn daisy-btn-accent',
          data: { action: 'click->nested-form#addItem' }

        %div
          - purchase_items.each_with_index do |purchase_item, i|
            - is_purchase_item_template = (i == purchase_items_index)
            = f.simple_fields_for "purchase_items_attributes][#{is_purchase_item_template ? "INDEX_FOR_PURCHASE_ITEMS" : i}", purchase_item do |ff|
              %div{is_purchase_item_template ? {'data-nested-form-target': 'template', class: 'hidden'} : {'data-nested-form-item': ''}}
                .w-full.flex.gap-3.items-center
                  = ff.input :id, label: false, as: :hidden
                  = ff.input :_destroy, label: false, as: :hidden
                  = ff.input :source_type, label: false, as: :hidden
                  = ff.input :quantity, input_html: { class: 'min-w-32' }, wrapper_html: { class: 'w-1/3' }
                  = ff.input :location_id, collection: Location.all.sort, wrapper_html: { class: 'w-2/3' }

                  = button_tag type: :button,
                    class: 'text-accent mb-3',
                    name: "#{f.object_name}[remove]",
                    title: t('.delete_purchase_item'),
                    data: { action: 'click->nested-form#removeItem' } do
                    %i.fa-solid.fa-trash

    .w-full.flex.items-baseline-last.gap-3.my-6
      = f.input :price_per_bottle_in_cents, wrapper_html: { class: 'w-1/4' }
      = f.input :gift, input_html: { class: 'daisy-toggle-accent' }

    = f.button :submit, t('submit'), class: 'daisy-btn daisy-btn-primary'
    = link_to t('go_to_root'), wines_path, class: "daisy-btn"
