-# = content_for :title, @purchase.name

.w-full
  .flex.justify-between
    %h1.text-primary= t('.summary', count: @purchase.purchase_items.map(&:quantity).sum, wine_name: @purchase.wine.name)

    .daisy-stats.shadow
      .daisy-stat
        -# .daisy-stat-figure.text-primary
        -#   = image_tag 'icons/search_icon.svg'
        .daisy-stat-title= Purchase.human_attribute_name(:purchase_date)
        .daisy-stat-value.text-primary= @purchase.purchase_date

  .flex.gap-16.items-top
    %div
      %h2.mb-6.text-accent= Purchase.human_attribute_name(:purchase_items)
      %table.daisy-table
        %thead
          %tr
            %td.pl-0= PurchaseItem.human_attribute_name(:quantity)
            %td= PurchaseItem.human_attribute_name(:location)
        %tbody
          - @purchase.purchase_items.each do |purchase_item|
            %tr
              %td.pl-0.font-bold= purchase_item.quantity
              %td.font-bold= purchase_item.location.name

    .flex-grow-1
      %h2.mb-6.text-accent= t('.details')

      .w-full.flex.mb-8
        %div{ class: 'w-1/4' }
          .mb-1.text-md.font-light= Purchase.human_attribute_name(:store)
          %span= @purchase.store || '-'
        %div{ class: 'w-1/4' }
          .mb-1.text-md.font-light= Purchase.human_attribute_name(:town)
          %span= @purchase.town || '-'
        %div{ class: 'w-1/4' }
          .mb-1.text-md.font-light= Purchase.human_attribute_name(:price_per_bottle_in_cents)
          %span= t(@purchase.price_per_bottle_in_cents) || '-'

      .w-full.flex.mb-8
        %div{ class: 'w-1/4' }
          .mb-1.text-md.font-light= Purchase.human_attribute_name(:comment)
          %span= @purchase.comment || '-'

  %div.flex.gap-3.mt-12
    = link_to t('.edit'), edit_purchase_path(@purchase), class: "daisy-btn daisy-btn"
    = button_to t('.destroy'), @purchase, method: :delete, class: "daisy-btn daisy-btn daisy-btn-warning ", data: { turbo_confirm: "Are you sure?" }
