= content_for :title, @event.name

.w-full
  .flex.justify-between
    %div
      %h1.text-primary= @event.name
      %div.flex.gap-3.mt-6.mb-12
        = link_to t('.edit'), edit_event_path(@event), class: "daisy-btn daisy-btn-accent"
        = button_to t('.destroy'), @event, method: :delete, class: "daisy-btn", data: { turbo_confirm: "Are you sure?" }
        = link_to t('go_to_root'), events_path, class: "daisy-btn"

  .flex.gap-16.items-top
    %div
      %h2.mb-2.text-accent= Event.human_attribute_name(:transactions)
      %table.daisy-table
        %thead
          %tr
            %td.pl-0= Transaction.human_attribute_name(:wine)
            %td= Transaction.human_attribute_name(:quantity)
            %td= Transaction.human_attribute_name(:location)
        %tbody
          - @event.transactions.each do |transaction|
            %tr
              %td.pl-0.font-semibold.min-w-80= transaction.wine.name
              %td.font-semibold= transaction.quantity.abs
              %td.font-semibold= transaction.location.name

    .flex-grow-1
      %h2.mb-6.text-accent= t('.the_event')

      .mb-8
        .mb-1.font-semibold= Event.human_attribute_name(:comment)
        = @event.comment || '-'

      %div{ class:"grid grid-flow-row-dense xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6",
        data: { controller: "lightbox" } }
        - @event.pictures.each_with_index do |picture, index|
          %div{ class: "w-[260px] h-[200px] rounded-md object-cover overflow-clip cursor-pointer" }
            = image_tag picture, data: { action: "click->lightbox#open", full_src: rails_blob_path(picture), lightbox_target: "img" }
