.w-full
  - if notice.present?
    %p.py-2.px-3.bg-green-50.mb-5.text-green-500.font-medium.rounded-md.inline-block{ id: :notice }
      = notice

  .mb-8.flex.justify-between.items-end
    .flex.items-end.gap-3
      = image_tag 'icons/flaticon-wine-menu.png', class: 'w-20 h-20'
      %h1.font-bold.text-primary= t('.title')

  %div#transactions.min-w-full.divide-y.divide-gray-200.space-y-5
    .overflow-x-auto
      %table.daisy-table.daisy-table-zebra.daisy-table-pin-cols.daisy-table-pin-rows
        %thead
          %tr
            %td= Transaction.human_attribute_name(:quantity)
            %td= Transaction.human_attribute_name(:wine)
            %td= Wine.human_attribute_name(:year)
            %td= Transaction.human_attribute_name(:location)
            %td= Transaction.human_attribute_name(:source_type)
            %td= Transaction.human_attribute_name(:created_at)
        %tbody
          - @transactions.each do |transaction|
            %tr{ id: dom_id(transaction) }
              %td.font-bold= transaction.quantity
              %td.font-bold.min-w-80= transaction.wine.name
              %td.font-bold= transaction.wine.year
              %td.font-bold= transaction.location.name
              %td.font-bold= enum_i18n(Transaction, :source_type, transaction.source_type)
              %td.font-bold= l(transaction.created_at.to_date)
