= content_for :title, @wine.name

.w-full
  .flex.justify-between
    %div
      %h1.text-primary= @wine.name
      %div.flex.gap-3.mt-6.mb-12
        = link_to t('.edit'), edit_wine_path(@wine), class: "daisy-btn daisy-btn-accent"
        = button_to t('.destroy'), @wine, method: :delete, class: "daisy-btn", data: { turbo_confirm: "Are you sure?" }
        = link_to t('go_to_root'), wines_path, class: "daisy-btn"
    %div
      .daisy-stats.daisy-shadow
        .daisy-stat
          -# .daisy-stat-figure.text-primary
          -#   = image_tag 'icons/search_icon.svg'
          .daisy-stat-title= Wine.human_attribute_name(:year)
          .daisy-stat-value.text-primary= t(@wine.year)
        .daisy-stat
          -# .daisy-stat-figure.text-primary
          -#   = image_tag 'icons/search_icon.svg'
          .daisy-stat-title= Wine.human_attribute_name(:xl_id)
          .daisy-stat-value.text-primary= @wine.xl_id
        .daisy-stat
          -# .daisy-stat-figure.text-primary
          -#   = image_tag 'icons/search_icon.svg'
          .daisy-stat-title= Wine.human_attribute_name(:note)
          .daisy-stat-value.text-primary= t(@wine.note) || '-'
          .daisy-stat-desc= t('.average_base_on', count: @wine.drinks.map(&:note).compact.length)

  .flex.gap-16.items-top
    %div
      %h2.mb-6.text-accent= Wine.human_attribute_name(:stocks)
      %table.daisy-table
        %thead
          %tr
            %td.pl-0= PurchaseItem.human_attribute_name(:quantity)
            %td= PurchaseItem.human_attribute_name(:location)
        %tbody
          - @wine.stocks.each do |stock|
            %tr
              %td.pl-0.font-semibold= stock.quantity.to_i
              %td.font-semibold= stock.location.name

    .flex-grow-1
      %h2.mb-6.text-accent= t('.details')

      .mb-8
        .mb-1.font-semibold= Wine.human_attribute_name(:comment)
        = @wine.comment || '-'

      .w-full.flex.mb-8
        %div{ class: 'w-1/4' }
          .mb-1.font-semibold= Wine.human_attribute_name(:color)
          %span= enum_i18n(Wine, :color, @wine.color)
        %div{ class: 'w-1/4' }
          .mb-1.font-semibold= Wine.human_attribute_name(:ticket)
          %span= @wine.ticket || '-'
        %div{ class: 'w-1/4' }
          .mb-1.font-semibold= Wine.human_attribute_name(:aged)
          %span= @wine.aged || '-'
        %div{ class: 'w-1/4' }
          .mb-1.font-semibold= Wine.human_attribute_name(:variety)
          %span= @wine.variety || '-'

      .w-full.flex.mb-8
        %div{ class: 'w-1/4' }
          .mb-1.font-semibold= Wine.human_attribute_name(:volume)
          %span= @wine.volume || '-'
        %div{ class: 'w-1/4' }
          .mb-1.font-semibold= Wine.human_attribute_name(:titration)
          %span= @wine.titration || '-'
        %div{ class: 'w-1/4' }
          .mb-1.font-semibold= Wine.human_attribute_name(:bottling)
          %span= @wine.bottling || '-'
        %div{ class: 'w-1/4' }
          .mb-1.font-semibold= Wine.human_attribute_name(:organic)
          %span= t(@wine.organic) || '-'

      %div{ class:"grid grid-flow-row-dense xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6",
        data: { controller: "lightbox" } }
        - [*@wine.front_label_pictures, *@wine.back_label_pictures].each_with_index do |picture, index|
          %div{ class: "w-[260px] h-[200px] rounded-md object-cover overflow-clip cursor-pointer" }
            = image_tag picture, data: { action: "click->lightbox#open", full_src: rails_blob_path(picture), lightbox_target: "img" }
