.w-full
  - if notice.present?
    %p.py-2.px-3.bg-green-50.mb-5.text-green-500.font-medium.rounded-md.inline-block{ id: :notice }
      = notice

  .mb-8.flex.justify-between.items-end
    .flex.items-end.gap-3
      = image_tag 'icons/flaticon-bottle-rack.png', class: 'w-14 h-14'
      %h1.font-bold.text-primary= t('.title', name: @location.name)

  %div#locations.min-w-full.divide-y.divide-gray-200.space-y-5.max-w-lg
    .overflow-x-auto
      %table.daisy-table.daisy-table-zebra.daisy-table-pin-cols.daisy-table-pin-rows
        %thead
          %tr
            %td= Location.human_attribute_name(:name)
            %td= t('.quantity')
          - @stocks.each do |stock|
            %tr
              %td.font-bold= stock.wine.name_and_year
              %td.font-bold= stock.quantity.to_i
