.w-full
  - if notice.present?
    %p.py-2.px-3.bg-green-50.mb-5.text-green-500.font-medium.rounded-md.inline-block{ id: :notice }
      = notice

  .mb-8.flex.justify-between.items-end
    .flex.items-end.gap-3
      = image_tag 'icons/flaticon-wine-menu.png', class: 'w-14 h-14'
      %h1.font-bold.text-primary= t('.title')

  %div#purchase_items.min-w-full.divide-y.divide-gray-200.space-y-5
    .overflow-x-auto
      %table.daisy-table.daisy-table-zebra.daisy-table-pin-cols.daisy-table-pin-rows
        %thead
          %tr
            %td= PurchaseItem.human_attribute_name(:quantity)
            %td= PurchaseItem.human_attribute_name(:wine)
            %td= Wine.human_attribute_name(:year)
            %td= PurchaseItem.human_attribute_name(:location)
            %td= PurchaseItem.human_attribute_name(:source_type)
            %td= PurchaseItem.human_attribute_name(:created_at)
        %tbody
          - @purchase_items.each do |purchase_item|
            %tr{ id: dom_id(purchase_item) }
              %td.font-bold= purchase_item.quantity
              %td.font-bold.min-w-80= purchase_item.wine.name
              %td.font-bold= purchase_item.wine.year
              %td.font-bold= purchase_item.location.name
              %td.font-bold= enum_i18n(PurchaseItem, :source_type, purchase_item.source_type)
              %td.font-bold= l(purchase_item.created_at.to_date)
